
  {% from 'components/card.html' import card as singleCard %}

{# CTA SECTION MACRO 
  @heading! = HTML
  @content! =  HTML
  @subHeading = HTML
  @eyebrow = STRING
  @color = STRING = green | blue | red | yellow | cyan
  @theme = STRING = frame | fill
  @variant = STRING = 
  yellowTheme-redBtn | yellowTheme-greenBtn | yellowTheme-blueBtn
  greenTheme-yellowBtn | greenTheme-lightBtn 
  blueTheme-yellowBtn | blueTheme-lightBtn 
  redTheme-yellowBtn | redTheme-lightBtn 
  
 #}
{% macro cardSection(sectionData = {}) %}
  
  {% set cardCount = sectionData.cards | length %}
  {% if (cardCount % 2 == 0) %}
    {% set cardCountType = 'even' %}
  {% else %}
    {% set cardCountType = 'odd' %}
  {% endif %}

  <section class="cardSection">
    <div class="[ wrapper ]">

      <h2>{{sectionData.title}}</h2>

      <div class="
        cardSection__wrap 
        cardSection__{{cardCount}} 
        cardSection__{{cardCountType}} 
        [ gap-top-xl ]">
        {% for card in sectionData.cards %}
            {{singleCard(
            variant=card.theme, 
            headingContent=card.title,
            subHeadingContent=card.subTitle,
            topHeadingLvl=3,
            contentBottom=card.text | blocksToMarkdown | markdownify | safe
            )
            }}
        {% endfor %}
      </div>
  
    </div>
  </section>

{% endmacro %}
