{# CTA SECTION MACRO 
  @heading! = HTML
  @content! =  HTML
  @subHeading = HTML
  @eyebrow = STRING
  @color = STRING = green | blue | red | yellow | cyan
  @theme = STRING = frame | fill
  @variant = STRING = 
  yellowTheme-redBtn | yellowTheme-greenBtn | yellowTheme-blueBtn
  greenTheme-yellowBtn | greenTheme-lightBtn 
  blueTheme-yellowBtn | blueTheme-lightBtn 
  redTheme-yellowBtn | redTheme-lightBtn 
  
 #}
{% macro ctaSection(
  heading='<h2> Missing Title</h2>', 
  subHeading, 
  content='',
  buttonText= '',
  buttonLink= '',
  sanityImage= {},
  themeColor='green', 
  theme="frame",
  variant="green-frame-green-button" 
  
  ) %}

  {# default to green bordered secttion, with green bg button (light text ) #}
  {% set theme = 'dark' %}
  {% set themeColor = 'green' %}
  {% set buttonStyle = 'colored-bg' %}
  {% set buttonColor = 'green' %}
  
  {# SET VARS TO RENDER CTA SECTION BASED ON SELECTED THEME #}

  {# set theme #}
  {% if 'yellowTheme' in variant %}
    {% set theme = 'light' %}
  {% endif %}

  {# set theme color from available ones #}
  {% set ctaThemesColors = [
    {'name': 'greenTheme', 'color': 'green' },
    {'name': 'blueTheme', 'color': 'blue' },
    {'name': 'redTheme', 'color': 'red' },
    {'name': 'yellowTheme', 'color': 'yellow' }
  ]%}
  {# identify the theme color and set it in themeColor var #}
  {% for item in ctaThemesColors %}
    {% if item.name in variant %}
      {% set themeColor = item.color %}
    {% endif %}
  {% endfor %}

  {# set button color from available ones #}
  {% set ctaButtonColors = [
    {'name': 'greenBtn', 'color': 'green' },
    {'name': 'blueBtn', 'color': 'blue' },
    {'name': 'redBtn', 'color': 'red' },
    {'name': 'yellowBtn', 'color': 'yellow' },
    {'name': 'whiteBtn', 'color': 'white' }
  ]%}
  {# identify the theme color and set it in themeColor var #}
  {% for item in ctaButtonColors %}
    {% if item.name in variant %}
      {% set buttonColor = item.color %}
    {% endif %}
  {% endfor %}


  <section class="[ ctaSection ]" data-theme-color="{{themeColor}}" data-theme="{{theme}}">
    
    {% responsiveImage sanityImage, 
      "500, 1200, 1600", 
      "(min-width: 40em) 70vw, 100vw",
      "[ bgImage bgImage--gray bgImage--withOverlay ]",
      imageAlt
    %}
    {# <img class="[ bgImage bgImage--gray bgImage--withOverlay ]" src="/images/bg/Pappy-Freds-Pizzeria.jpg" alt="MISSING ALT" /> #}
    
    <div class="[ ctaSection__color-overlay ] [ pinned ]"></div>
    
    <div class="[ wrapper ]">

      <div class="[ ctaSection__content ] [ pannel ]">

        <div class="ctaSection__leftColumn [ flow ]">
          <h2>{{heading | safe}}</h2>

          {% if subHeading %}
            <div class="ctaSection__subHeadingWrapper">
              <h3 class='subtitle'>{{subHeading | safe}}</h3>
            </div>
          {% endif %}

          {# RTE CONTENT #}
          {% if content != '' %}
            <div class="ctaSection__rteWrapper [ flow ]">
              {{content | safe}} 
            </div>
          {% endif %}
        </div>

        {# BUTTONS #}
        {% if buttonText != "" %}
        <div class="ctaSection__rightColumn">      
          {% if buttonText != "" %}
            <a href="{{buttonLink}}" class="[ button ] [ button--{{buttonStyle}} button--color-{{buttonColor}} ]">{{buttonText}}</a>
          {% endif %}
        </div>
        {% endif %}
        
      </div>
    </div>
  </section>

{% endmacro %}