{# MAGAZINE SECTION MACRO 
  @heading! = STRING
  @content! =  HTML
  @subHeading = HTML
  @eyebrow = STRING
  @color = STRING = green | blue | red | yellow | cyan
  @theme = STRING = frame | fill
  @variant = STRING = 
  greenTheme-frame-greenBtn | greenTheme-frame-redBtn | greenTheme-frame-blueBtn |
  blueTheme-frame-blueBtn | blueTheme-frame-greenBtn | blueTheme-frame-redBtn | 
  redTheme-frame-redBtn | redTheme-frame-greenBtn | redTheme-frame-blueBtn |
  yellowTheme-frame-greenBtn | yellowTheme-frame-blueBtn | yellowTheme-frame-redBtn |
  
  greenTheme-fill-whiteBtn | greenTheme-fill-yellowBtn | 
  blueTheme-fill-whiteBtn | blueTheme-fill-yellowBtn | 
  redTheme-fill-whiteBtn | redTheme-fill-yellowBtn | 
  yellowTheme-fill-greenBtn | yellowTheme-fill-blueBtn | yellowTheme-fill-redBtn  
 #}
{% macro magSection(
  heading='Missing Title',
  eyebrow, 
  subHeading, 
  content='<p>Missing Content</p>',
  buttonText= '',
  buttonLink= '',
  image1= '',
  themeColor='green', 
  theme="frame",
  variant="green-frame-green-button" 
  
  ) %}

  {# default to green bordered secttion, with green bg button (light text ) #}
  {% set theme = 'frame' %} 
  {% set themeColor = 'green' %}
  {% set buttonStyle = 'colored-bg' %}
  {% set buttonColor = 'green' %}
  
  {# SET VARS TO RENDER SECTION BASED ON SELECTED THEME #}

  {# set the theme of the section and button (frame or solid bg) #}
  {% if 'fill' in variant %}
    {% set theme = 'fill' %}
    {# exeption for yellow color, which should be considered light #}
    {% if ('yellowTheme' in variant) or ('yellowBtn' in variant) %}
      {% set buttonStyle = 'colored-bg' %}
    {% else %}
    {# for all colors, set buttons to light bg (colored text) #}
      {% set buttonStyle = 'colored-text' %}
    {% endif %}
  {% endif %}


  {# theme color #}
  {# set available themes #}
  {% set magSectionThemes = [
    {'name': 'greenTheme', 'color': 'green' },
    {'name': 'blueTheme', 'color': 'blue' },
    {'name': 'redTheme', 'color': 'red' },
    {'name': 'yellowTheme', 'color': 'yellow' }
  ]%}
  {# identify the theme and set the themeColor var to corresponding value #}
  {% for item in magSectionThemes %}
    {% if item.name in variant %}
      {% set themeColor = item.color %}
    {% endif %}
  {% endfor %}
  
  {# button color #}
  {# set available button colors (also used for the eyebrow color) #}
    {% set buttonColors = [
    {'name': 'greenBtn', 'color': 'green' },
    {'name': 'blueBtn', 'color': 'blue' },
    {'name': 'redBtn', 'color': 'red' },
    {'name': 'yellowBtn', 'color': 'yellow' },
    {'name': 'whiteBtn', 'color': 'white' }
  ]%}
  {# identify the button color and set the buttonColor var to corresponding value #}
  {% for item in buttonColors %}
    {% if item.name in variant %}
      {% set buttonColor = item.color %}
    {% endif %}
  {% endfor %}


  <section class="[ magSection ]" data-theme="{{theme}}" data-theme-color="{{themeColor}}">
    <div class="[ magSection__image ]">
      <img src="/images/bg/Favorite-Shot-of-the-Water-Park.jpg" alt="MISSING ALT"/>
    </div>
    <div class="[ magSection__content ] [ flow ]">

      {% if eyebrow %}
        <p class="[ eyebrow eyebrow--{{buttonColor}} ]">{{eyebrow}}</p>
      {% endif %}

      <h2>{{heading | safe}}</h2>

      {% if subHeading %}
        <div class="magSection__subHeadingWrapper">
          <h3 class="[ subtitle ]">{{subHeading | safe}}</h3> 
        </div>
      {% endif %}

      {# RTE CONTENT #}
      <div class="magSection__rteWrapper [ flow ]">
        {{content | safe}} 
      </div>

      {# BUTTONS #}
      {% if buttonText != "" %}
      <div class="magSection__buttonWrapper">      
        {% if buttonText != "" %}
          <a href="{{buttonLink}}" class="[ button ] [ button--{{buttonStyle}} button--color-{{buttonColor}} ]">{{buttonText}}</a>
        {% endif %}
        {# {% if buttonText1 != "" %}
          <a href="{{buttonLink2}}" class="[ button ] [ button--colored-bg button--color-{{themeColor}} ]">{{buttonText2}}</a>
        {% endif %} #}
      </div>
      {% endif %}
      
    </div>
  </section>

{% endmacro %}