{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/home.css'] %}

{% from 'components/cta-section.html' import ctaSection %}
{% from 'components/mag-section.html' import magSection %}
{% from 'components/card.html' import card %}

{% block content %}

  {% include "partials/hero.html" %}

  <script>console.log({{siteHome | dump | safe}})</script>


  {% for section in siteHome.content.sections %}
    {% switch section._type %}
      {% case 'magSection' %}
        {{magSection(
          eyebrow = "Park News",
          heading = section.title,
          subHeading = section.subtitle,
          sanityImage = section.image,
          imageAlt = section.image.alt,
          content = section.text | blocksToMarkdown | markdownify | safe,
          buttonText = "Event Details",
          buttonLink = "#",
          variant = "greenTheme-fill-yellowBtn"
        )}}
      {% case 'ctaSection' %}
        {{ctaSection(
            heading = section.title,
            subHeading = section.subtitle,
            buttonText = section.button1.text,
            buttonLink = section.button1.url,
            sanityImage = section.image,
            imageAlt = section.image.alt,
            content = section.text | blocksToMarkdown | markdownify | safe,
            variant = "blueTheme-yellowBtn"
        )}}
    {% endswitch %}
  {% endfor %}
 
  {# <div class="wrapper">
    <article>
      <h1 class="headline" data-color="secondary-light">{{ title }}</h1>


      
{{ content | safe }}

       
    </article> #}
  </div>
{% endblock %}