{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/page.css'] %}

{% from 'components/grid-card.html' import gridCard as singleGridCard %}
{% from 'components/page-header.html' import pageHeader %}
{% from 'components/content-sections.html' import contentSections %}


{% block content %}

  {# <script>console.log({{siteParkRides | dump | safe}})</script> #}

  {% set ridesPage = global.getSpecialPageById(sitePagesSpecial, "parkRides") %}
  {{pageHeader(title=ridesPage.content.title, image=ridesPage.content.mainImage)}}

  {{contentSections(ridesPage.content.sectionsTop)}}

  <div class=" [ wrapper auto-grid gap-bottom-400 ]"> 
  {# gap-bottom-900 gap-top-900 #}

  {% for ride in siteParkRides %}
    {# {% if '|' in attraction.content.category %}
      {% set rideCategory = attraction.content.category.split('|')[1] %}
    {% else %}
      {% set rideCategory = attraction.content.category %}
    {% endif %} #}

    {{ singleGridCard(
      titile=ride.content.name,
      eyebrow=ride.content.category.split('|')[1],
      eyebrowColor='green',
      image=ride.content.mainImage,
      alt=ride.content.mainImage.alt,
      buttonText='more info <span class="visually-hidden">on '+ ride.content.name +' ride </span>',
      buttonLink=ride.content.slug.current,
      titleHeadingLvl=3
    )}}

  {% endfor %}
  </div>

  {{contentSections(ridesPage.content.sectionsBottom)}}

{% endblock %}