.hero {
  position: relative;
  @include media-query('md') {
    padding: get-size('major') 0;
  }

  &__bg-image {
    background: url('/images/bg/Swing-Buggy-Ride.jpg') no-repeat top center;
    background-size: cover;
    min-height: 400px;
    
    @extend .md\:pinned;
  }
 
  &__content {
    margin-top: -200px;

    @include media-query('md') {
      margin-top: 0;
    }
  }
}
