<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>

<header role="banner" class="[ site-head ]">
  <div class="wrapper">

    <div class="site-head__inner" x-data="{ mainMenuisOpen: false }">

      {# LEFT COLUMN - BRAND #}
      <div class="[ site-head__left-column ] [ site-head__brand ]">
        <a href="/">
          <img src="/images/delgrosso-amusement-park-and-laguna-splash-wordmark.png" alt="DelGrossos Amusement Park and Laguna Splash Water Park logo" />
        </a>
      </div>
      <!-- end [ site-head__left-column ] [ site-head__brand ] -->

      {# MIDDLE COLUMN #}
      <div class="[ site-head__middle-column ]">

        <div class="[ status-bar ]">
          <a href="/">operating schedule</a>
          
        </div>
        <!-- /.site-head__status-bar -->

        {# MAIN NAV #}
        {% include 'partials/nav.html' %}

      </div>
      <!-- /.site-head__middle-column -->

      {# RIGHRT COLUMN #}
      {# switches order on mobile to top #}
      <div class="[ site-head__right-column ]">


        <div class="site-head__phone">
          <a href="tel:814-684-3538"><span class="visually-hidden">call us</span> <span>814-684-3538</span></a>
        </div>
        <!-- /.site-head__phone -->

        <ul class="site-head__social">
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer"><span class="visually-hidden">Facebook Page</span>{% include "partials/svg/icon-fb.svg" %}</a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer"><span class="visually-hidden">TripAdvisor Page</span>{% include "partials/svg/icon-tripadvisor.svg" %}</a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer"><span class="visually-hidden">YouTube Page Page</span>{% include "partials/svg/icon-youtube.svg" %}</a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer"><span class="visually-hidden">Instagram Page</span>{% include "partials/svg/icon-instagram.svg" %}</a>
          </li>
        </ul>
      </div>
      {# END RIGHT COLUMN #}

    </div>
  </div>
</header>